:root {
    /* MONOCHROMATIC BLUES THEME */
    --primary-color: #023E8A;
    --secondary-color: #0077B6;
    --light-color: #CAF0F8;
    --dark-color: #090c0f;
    --logo-color-primary: #0e3f61;
    --logo-color-secondary: #9b9d68;
    --white: #ffffff;
    --black: #000000;
}

/* HERO SECTION */

.about-us-hero-section {
    position: relative;
    height: 280px;
    background-image: url('../img/about page images/about-page-hero-img.webp');
    background-size: cover;
    background-position: center;
}

.about-us-hero-content {
    position: absolute;
    top: 50%;
    left: 40px;
    /* Adjust as needed for left spacing */
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    /* Due to dark overlay */
}

.dark-overlay-50 {
    position: relative;
}

.dark-overlay-50::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dark-overlay-70 {
    position: relative;
}

.dark-overlay-70::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.breadcrumb {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--light-color);
}

.breadcrumb-item.active {
    color: var(--white);
}

.breadcrumb-separator {
    color: var(--white);
    margin: 0 5px;
}

/* ABOUT US CARD */

.about-us-card {
    background-color: var(--white);
    color: var(--black);

    border-radius: 10px;
    /* padding: 20px; */
    margin-bottom: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);

    box-sizing: border-box;
}

.about-us-card .subdiv {
    border-right: 1px solid lightgray;
    /* padding-right: 15px; */

    /* padding-right: 20px; */
    /* padding-left: 20px; */
    padding: 20px;

    /* Updates */
    /* border-radius: 10px; */
    /* padding: 20px; */
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
    /* box-shadow: 0 0 14px rgba(0, 0, 0, 0.2); */
    /* box-sizing: border-box; */
    /* background-color: red; */
}

@media (max-width: 768px) {
    .about-us-card .subdiv {
        border-right: none;
        border-bottom: 1px solid lightgray;
    }
}

.about-us-card .subdiv:last-child {
    border-right: none;


    /* Updates */
    /* margin-right: none; */
}

.about-us-card .subdiv span {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

.about-us-card-icon {
    border-radius: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* padding: 10px;
    margin-bottom: 10px; */

    padding: 0;
    margin: 0 auto;
    /* Centering margin */

    /* background-color: var(--light-color); */
    /* margin-bottom: 1rem; */
}

.about-us-card-icon .material-symbols-outlined {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(4px);
}

.about-us-card-icon>span {
    color: var(--secondary-color);
    font-size: 5rem !important;
    transition: color 0.3s ease;
}

.about-us-card-icon>span:hover {
    color: var(--primary-color);
}

/* MAIN SECTION */

.tick {
    color: var(--secondary-color);
    transform: translateY(6px);
    font-weight: 500;
}

.explore-now-button-2 {
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: 500;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.explore-now-button-2:hover {
    background-color: var(--primary-color);
}

.main-section-img {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main-section-img img {
    width: calc(100% - 20px);
    height: calc(100% - 0px);
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin: 10px;
}

@media (max-width: 768px) {
    .main-section-img img {
        margin-top: 0px;
        padding-bottom: 20px;
    }
}

/* OUR TEAM */

.team-member {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.team-member img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.team-member:hover img {
    transform: scale(1.1);
}

.member-details {
    position: absolute;
    /* bottom: 0; */
    bottom: 6%;
    /* left: 0; */
    left: 10%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    opacity: 0;
    transition: opacity 0.3s ease;
    /* transform: translateY(100%); */
    transform: translateY(0);
    z-index: 99;
}

.member-details>h5 {
    font-size: 1.2rem;
    padding-top: 0.3rem;
}

.member-details>p {
    font-size: 1rem;
    color: var(--secondary-color);
}

.team-member:hover .member-details {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .member-details {
        opacity: 1;
        transform: translateY(0);
    }

    /* .team-member img {
        width: 100%;
        height: 200px;
    } */

    .team-member:hover img {
        transform: scale(1);
    }
}

.employee-icon {
    color: var(--secondary-color);
}

/* OUR PRODUCTS SECTION */

.our-products-read-more-btn {
    border-radius: 0%;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
    border: 1.6px solid var(--white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.our-products-read-more-btn:hover {
    color: var(--black);
    background-color: var(--white);
}

.our-products-section {
    position: relative;
    /* height: 560px; */
    max-height: 1200px;
    background-image: url('../img/about page images/our-products-background-img.webp');
    background-size: cover;
    background-position: center;
}

.our-products-image-dynamic {
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
}

.our-products-image-dynamic img {
    display: block;
    max-width: 100%;
    /* max-width: 90%; */
    height: auto;
    animation: levitate 2s ease-in-out infinite alternate;
}

@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* THIS IS TO PREVENT IMAGE RESIZING, IT WAS CREATING A LOT OF ISSUES */
.fixed-size-image {
    width: 450px;
    height: 450px;
}

/* .our-products-image-static {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
} */

/* .our-products-image-static img {
    display: block;
    max-width: 100%;
    height: auto;
} */

/* @media (max-width: 768px) {
    .our-products-image-dynamic {
        display: none;
    }
} */

/* @media (min-width: 769px) {
    .our-products-image-static {
        display: none;
    }
} */

.stars-image {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(0%, -50%); */
    /* transform: translateX(0%); */
    /* z-index: 10; */
    animation: rotateStars 5s linear infinite;
}

@keyframes rotateStars {
    /* from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    } */
    from {
        transform: translate(-1%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-1%, -50%) rotate(360deg);
    }
}

/* BUSINESS PARTNERS */

.business-partners-fixed-size-image {
    width: 200px !important;
    height: 80px !important;
    overflow: visible;
}

.business-partners-about-us-image {
    max-width: 260px;
}

.business-partners-text {
        font-size: 1rem;
        color: #333;
        margin-bottom: 20px;
        text-align: justify;
        z-index: 9999;
        padding: 1rem;
    
        /* REMOVE IF ANY PROBLEM ARISE */
        position: relative;
}

.light-green-container {
    background-color: var(--light-green);
}

.light-orange-container {
    background-color: var(--light-orange);
}

.light-purple-container {
    background-color: var(--light-purple);
}

.light-blue-container {
    background-color: var(--light-blue);
}

.business-partners-container {
    min-height: 27rem;
}

@media (max-width: 768px) {
    .business-partners-container {
        min-height: 30rem;
    }   
}

/* 
.business-partner-image-container {
    background-color: red;
    height: 200px;
} */