:root {
    /* MONOCHROMATIC BLUES THEME */
    --primary-color: #023E8A;
    --secondary-color: #0077B6;
    --light-color: #CAF0F8;
    --mid-dark-color: #0b131f;
    --high-dark-color: #080e16;
    --logo-color-primary: #0e3f61;
    --logo-color-secondary: #9b9d68;
    --white: #ffffff;
    --black: #000000;
}

/* HERO SECTION */

.brel-resco-1-hero-section {
    position: relative;
    height: 280px;
    background-image: url('../img/brel resco page 1 images/hero-img.webp');
    background-size: cover;
    background-position: center;
}

.brel-resco-1-hero-content {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
}

.dark-overlay-50 {
    position: relative;
}

.dark-overlay-50::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.breadcrumb {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--light-color);
}

.breadcrumb-item.active {
    color: var(--white);
}

.breadcrumb-separator {
    color: var(--white);
    margin: 0 5px;
}

/* SECTION 1 */

.sub-section-icons-div {
    display: flex;
}

.sub-section-icons-div-card {
    background-color: var(--white);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    border-radius: 8px;
    /* transition: background-color 0.2s linear, color 0.2s linear; */
}

/* .sub-section-icons-div-card:hover {
    color: var(--white);
    background-color: var(--primary-color);
} */

/* SECTION 2 */

.section-2 {
    background-color: var(--primary-color);
    color: var(--white);
}

/* SECTION 3 */

.section-3 {
    background-color: var(--mid-dark-color);
}

.section-3-card {
    background-color: var(--mid-dark-color);
    border-color: var(--white);
}

.section-3-card-icon>span {
    color: var(--white);
    font-size: 5rem;
}

.section-5 {
    background-color: var(--mid-dark-color);
    /* background-color: var(--primary-color); */
    color: var(--white);
}

/* SECTION 6 */

/* .section-6 {
    background-color: var(--primary-color);
} */
