:root {
    /* MONOCHROMATIC BLUES THEME */
    --primary-color: #023E8A;
    --secondary-color: #0077B6;
    --light-color: #CAF0F8;
    --mid-dark-color: #0b131f;
    --high-dark-color: #080e16;
    --logo-color-primary: #0e3f61;
    --logo-color-secondary: #9b9d68;
    --white: #ffffff;
    --black: #000000;
}

/* HERO SECTION (SERVICES) */

.services-hero-section {
    position: relative;
    height: 280px;
    background-image: url('../img/services page images/services-page-hero-img.webp');
    background-size: cover;
    background-position: center;
}

.services-hero-content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
}

.dark-overlay-50 {
    position: relative;
}

.dark-overlay-50::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.breadcrumb {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--light-color);
}

.breadcrumb-item.active {
    color: var(--white);
}

.breadcrumb-separator {
    color: var(--white);
    margin: 0 5px;
}

/* OPENING TEXT */

.services-opening-text-heading {
    color: var(--primary-color);
}

/* TIMELINE */

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    /* Added later */
    position: relative;
    align-items: center;
}

.timeline-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-icon>span {
    font-size: 2rem;
    color: var(--white);
}

.timeline-item:nth-child(even) .timeline-content {
    order: 2;
}

.timeline-item:nth-child(even) .timeline-image {
    order: 1;
}

.timeline-content,
.timeline-image {
    width: 45%;
    padding: 20px;
    border-radius: 8px;
    /* background: white; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.timeline-content h2 {
    margin-top: 0;
    color: var(--black);
}

.timeline-content p {
    color: var(--black);
}

.timeline-image img {
    max-width: 100%;
    border-radius: 8px;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--primary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item .timeline-content,
    .timeline-item .timeline-image {
        width: 100%;
        order: initial;
    }

    .timeline::before {
        left: 22px;
        transform: none;
    }

    /* OLD */
    /* .timeline-item:nth-child(even) .timeline-content, 
    .timeline-item:nth-child(even) .timeline-image {
        order: initial;
    } */

    .timeline-item .timeline-content {
        order: 2;
    }
    .timeline-item .timeline-image {
        order: 1;
    }

    /* THIS IS A FIX TO ORDER ISSUES ON SMALLER SCREENS */
    .timeline-item:nth-child(even) .timeline-content {
        order: 2;
    }
    .timeline-item:nth-child(even) .timeline-image {
        order: 1;
    }

    .timeline-icon {
        left: -1px;
        /* transform: none; */
        transform: translateY(160px);
        margin-bottom: 10px;
    }

    .timeline-item {
        padding: 0px 2px 0px 18px;
    }
}

/* SERVICES CARDS */

/* REMOVE THE FOLLOWING IF ANY ISSUES ARISE */
.services-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.services-card {
    /* width: 18rem; */
    background-color: var(--white);
    border: 1px solid lightgray;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    /* REMOVE THE FOLLOWING IF ANY ISSUES ARISE */
    padding: 20px;
    width: 100%;
    /* min-width: 25%; */
    /* max-width: 30%; */
    width: 100%;
    max-width: 350px;


    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    /* max-width: 30%; */
    /* margin: 1.6%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

/* @media (min-width: 992px) {
    .services-card {
        flex: 1;
        max-width: 30%;
        min-width: none;
    }
} */

.services-card-icon>span {
    color: var(--primary-color);
    font-size: 4rem;
}

.services-card:hover {
    background-color: var(--primary-color);
}

.services-card:hover,
.services-card:hover span,
.services-card:hover h4,
.services-card:hover p,
.services-card:hover .services-read-more-btn {
    color: var(--white) !important;
}

.services-read-more-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

/* SLIDER */

.services-slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: var(--mid-dark-color);
    padding: 40px 0px;
}

.services-slider-content {
    display: inline-block;
    white-space: nowrap;
    animation: slide 30s linear infinite;
}

.services-slider-content>i {
    color: var(--secondary-color);
    font-size: 3rem;
}

.services-slider-content span {
    display: inline-block;
    padding: 0 60px;
}

.services-slider-text {
    color: var(--white);
    font-size: 3rem;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
        /* Move only half the distance since we duplicate the content */
    }
}

@media (max-width: 768px) {
    .services-slider-text {
        font-size: 1.5rem;
    }

    .services-slider-content>i {
        font-size: 1.5rem;
    }
}

/* QUALITY ASSURANCE */

.sub-section-icons-div {
    display: flex;
    /* width: 600px; */

    /* THIS MAY BE IMPORTANT */
    /* justify-content: space-around; */
}

.sub-section-icons-div-card {
    background-color: var(--white);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.06);
    /* max-width: 50%; */
    cursor: pointer;
    border-radius: 8px;
    /* padding: 20px; */
    /* text-align: center; */
    /* width: 200px; */
}

/* .sub-section-icons-div-card h2 {
    margin-top: 10px;
    font-size: 1.5rem;
} */

/* .sub-section-icons-div-card p {
    margin-top: 10px;
    color: #666666;
} */

.sub-section-icons-div-icon {
    color: var(--secondary-color);
    font-size: 3rem !important;

    transition: transform 0.2s;
}

.sub-section-icons-div-card:hover .sub-section-icons-div-icon {
    animation: vibrate 0.6s linear infinite;
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }

    75% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}