:root {
    /* --primary-color-1: rgb(23, 64, 91);
    --primary-color-2: rgb(153, 158, 104); */

    /* MONOCHROMATIC BLUES THEME */
    --primary-color-1: #023E8A;
    --primary-color-2: #0077B6;
    --secondary-color-1: #CAF0F8; 
}

* {
    font-family: "Lexend", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; */
}

/* NAVBAR */

.main-logo {
    font-size: 2rem;
    font-weight: 700;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-comp-1 {
    display: flex;
    align-items: center;
    border-right: 1px solid lightgrey;
}

.nav-comp-1-icon {
    color: var(--primary-color-2);
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}

.nav-comp-1-details {
    display: flex;
    flex-direction: column;
}

.nav-comp-1-label {
    color: gray;
    font-size: 1rem;
}

.nav-comp-1-text {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-comp-1-text:hover {
    color: var(--primary-color-2);
    cursor: pointer;
}

.nav-comp-2-icon-container {
    display: flex;
    gap: 10px;
}

.nav-comp-2-icon-container i {
    font-size: 24px;
    color: black;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-comp-2-icon-container i:hover {
    color: white;
    background-color: var(--primary-color-1);
    cursor: pointer;
}

.navbar-nav {
    margin-left: 30%;
}

.navbar-toggler {
    border: none;
}

.custom-toggler:focus,
.custom-toggler.focus,
.custom-toggler:active,
.custom-toggler.active {
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove box shadow on focus */
}

.dropdown-item { /* ADDED LATER */
    color: #333;
}

.dropdown-item:hover { /* ADDED LATER */
    background-color: #e2e6ea;
    color: #000;
}

@media (max-width: 991px) {
    .nav-item {
        justify-content: left;
        align-items: left;
    }

    .navbar-nav {
        margin-left: 30%;
    }

    .nav-comp-1 {
        border-right: none;
    }

    .navbar-nav {
        margin-left: 0%;
    }
}

/* NAVBAR 2 */

.navbar-2 {
    background-color: var(--primary-color-1);
    color: white;
}

.navbar-2 a {
    color: white;
}

.get-brochure-btn {
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-right: 8px;
    border-radius: 0%;
    font-size: 1rem;

    color: var(--primary-color-1);
    background-color: var(--secondary-color-1);
}

.get-brochure-btn:hover {

    color: white;
    background-color: var(--primary-color-2);
}

.navbar-nav-2 {
    margin-left: 0px !important;
}

.container-fluid-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler-2 {
    /* margin-left: auto; */
    margin-right: 8px;
}

#offcanvasNavbar2 {
    background-color: var(--primary-color-1);
}

.white-text {
    color: white !important;
}

.white-text:hover {
    color: white !important;
}

.hover-green {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-green:hover {
    background-color: var(--primary-color-2);
}

.dropdown-2 {
    background-color: var(--primary-color-1);
}

/* FIX OF DROPDOWN ISSUE */
@media (max-width: 991px) {
    .dropdown-2 {
        transform: translateY(62px) translateX(-130px);
        background-color: var(--primary-color-2);
        font-size: 0.8rem;
    }
}


.nav-item .nav-link.dropdown-toggle:focus,
.nav-item .nav-link.dropdown-toggle:hover,
.nav-item .nav-link.dropdown-toggle:active,
.nav-item .nav-link.dropdown-toggle.show {
    color: white !important;
}

.btn-close-white {
    color: white;
}

.toggler-icon-2 {
    color: white;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .hover-green:hover {
        background-color: var(--primary-color-1);
    }
}

/* CUSTOM DROPDOWN NEW */

/* .special-select {
    transform: translateX(-5px);
}

.special-option {
    font-size: 0.5rem !important;
    background-color: var(--primary-color-1) !important;
}

.special-option:focus,
.special-option.focus,
.special-option:active,
.special-option.active {
    background-color: var(--primary-color-1) !important;
}

.special-option-hidden {
    display: none;
} */


/* CUSTOM DROPDOWN OLD */

/* .custom-dropdown-special {
    position: relative;
    display: inline-block;
}

.dropdown-toggle-special {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dropdown-menu-special {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.custom-dropdown-special:hover .dropdown-menu-special {
    display: block;
}

.dropdown-menu-special li {
    padding: 10px 20px;
}

.dropdown-menu-special li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-menu-special li a:hover {
    background-color: #f0f0f0;
} */

/* CAROUSEL */

.custom-button {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--primary-color-1);
    border: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: var(--primary-color-2);
}

.heading-1 {
    font-size: 5rem;
}

.heading-2 {
    font-size: 8rem;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.carousel-caption > h6, .carousel-caption > h5, .carousel-caption > h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.text-animation {
    opacity: 0;
    position: relative;
    top: -20px;
    transition: opacity 0.9s ease, top 0.9s ease;
}

.text-animation.visible {
    opacity: 1;
    top: 0;
}

.carousel-item .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 992px) {
    .heading-1 {
        font-size: 3rem;
    }

    .heading-2 {
        font-size: 4rem;
    }

    .carousel-caption {
        padding: 10px;
    }

    .carousel-item > img {
        max-width: 100%;
        height: 600px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .heading-1 {
        font-size: 2.2rem;
    }

    .heading-2 {
        font-size: 2.6rem;
    }
    
    .carousel-caption {
        padding: 0px;
        justify-content: left;
        height: 70%; /* ADDED LATER */
    }

    .carousel-caption > h6, .carousel-caption > h5, .carousel-caption > h2 {
        margin-bottom: 20px;
    }
} 

/* OUR SERVICES */

.green-heading {
    color: var(--primary-color-2);
}

.our-services {
    text-align: center;
    margin: 20px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.services-container-card {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;

    display: flex; /* REMOVE IF ANY ISSUES ARISE */
    flex-direction: column; /* REMOVE IF ANY ISSUES ARISE */
    align-items: center; /* REMOVE IF ANY ISSUES ARISE */
}

/* OLD ONE */
/* .services-container-card-icon {
    font-size: 48px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
} */

.services-container-card-icon {
    background-color: white;
    border: 2px dotted var(--primary-color-1);
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;

    /* margin: 0 auto; */
}

.services-container-card-icon > span {
    color: var(--primary-color-1);
    font-size: 50px;
}

.services-container-card-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.services-container-card-text {
    color: gray;
    margin-bottom: 20px;
}

.services-container-load-more-btn {
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.services-container-load-more-btn:hover {
    color: var(--primary-color-1);
    ;
}

@media (min-width: 992px) {
    .services-container-card {
        flex: 1;
        max-width: 22%;
    }
}

/* STATS */

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgb(33, 32, 38); */
    background-color: black;
    padding: 20px;
}

.stats-item {
    text-align: center;
    margin: 20px;
    padding: 10px 30px 10px 30px;
}

.stats-number {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.stats-unit {
    color: var(--primary-color-2);
    font-size: 2rem;
    font-weight: bold;
}

.stats-label {
    color: white;
    font-size: 1rem;
}

/* GALLERY */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery-item {
    flex: 1;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .gallery-container {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
    }

    .gallery-item {
        width: 100%;
        height: auto;
        padding: 5px 10px 5px 10px;
    }
}

/* SLIDER */

.slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: white;
    padding: 40px 0px;
}

.slider-content {
    display: inline-block;
    white-space: nowrap;
    animation: slide 20s linear infinite;
}

.slider-content span {
    display: inline-block;
    padding: 0 60px;
}

.business-partners-logo {
    height: 60px;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
        /* Move only half the distance since we duplicate the content */
    }
}

/* EXTRA INFO / OUR WORK */

.extra-info {
    background-color: var(--primary-color-1);
    color: white;
    overflow: hidden;/* ADDED LATER */
    padding: 0 15px;/* ADDED LATER */
}

.no-gutters {
    margin-right: 0;/* ADDED LATER */
    margin-left: 0;/* ADDED LATER */
}

.no-gutters > .col-md-6 {
    padding-right: 0;
    padding-left: 0;
}

.extra-info-div {
    padding: 40px;
}

.extra-info-div > h5, .extra-info-div > h2 {
    margin-bottom: 20px;
}

.extra-info-heading-1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.extra-info-heading-2 {
    font-size: 3rem;
    font-weight: 700;
}

.extra-info-paragraph {
    font-size: 1.1rem;
}

.extra-info-button {
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    background-color: white;
    color: var(--primary-color-1);
    font-weight: 500;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.extra-info-button:hover {
    background-color: var(--primary-color-2);
    color: white;
}

.extra-info-img {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.extra-info-img img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin: 10px;
}

@media (max-width: 768px) {
    .extra-info-button {
        padding: 20px 30px 20px 30px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    /* UNCOMMENT THE FOLLOWING IF ANY ISSUE ARISES IN IMAGE ALIGNMENT */
    /* .extra-info-img img {
        margin: 0px;
    } */

    .extra-info-div {
        padding: 20px;
    }
}

/* TESTIMONIALS */

/* .testimonial-card {
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    text-align: center;
} */

/* .testimonial-card:hover {
    background-color: var(--primary-color-1);
    color: white;
} */

/* .testimonial-text {
    color: #555555;
} */

/* .testimonial-name {
    color: #000;
    font-weight: 500;
    margin-top: 10px;
} */

/* TESTIMONIALS 2 */

.testimonial-container {
    max-width: 600px;
    margin: 0 auto;
}

.testimonial-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.testimonial-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.testimonial-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.testimonial-name {
    font-weight: bold;
    margin-bottom: 0;
}

.testimonial-designation {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 0;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(33, 32, 38); */
    background-color: rgb(0, 0, 0);
    padding: 30px;
    color: white;
    flex-wrap: wrap;
}

.footer-icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px 10px 20px;
}

.footer-icon-container i {
    font-size: 24px;
    color: white;
    /* background-color: rgb(44, 43, 48); */
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-icon-container i:hover {
    /* color: rgb(44, 43, 48); */
    color: rgb(44, 44, 44);
    background-color: white;
    cursor: pointer;
}

.footer-left {
    flex: 2;
    margin: 10px;
}

.footer-left {
    padding-right: 40px;
    /* CAN REMOVE THIS LATER */
}

.footer-middle,
.footer-right {
    flex: 1;
    margin: 10px;
}

.footer-logo {
    font-size: 2rem;
    font-weight: 700;
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: lightgrey;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-middle,
    .footer-right {
        margin: 20px 0;
        flex: 1;
    }

    .footer-left {
        padding-right: 0px;
    }
}

/* BACK TO TOP */

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--primary-color-2);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#backToTopBtn:hover {
    background-color: var(--primary-color-2);
}